<div class="grand-parent">
    <div class="icon"><img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5lHnLCCaYS1NNH0gM9dQTMD1tr0fTCFLpyA&usqp=CAU">
    </div>
    <div class="inside">
        <div class="value">0</div>
        <div class="name">{{name}}</div>
    </div>
</div>